    <header style="background-color: lightskyblue;">
        <ul>
            <a href="/"><h1 style="margin-bottom:0; line-height: 0;">Matcha</h1></a>
            <a href="/login" style="float: right; margin-right: 15px;">LOG IN</a>
        </ul>
    </header>
