.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

nav{
  background: rgb(56, 56, 65);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: pink;
}

.backround{
  align-items: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: purple;
}

body, html{
  background-image: url(http://dillionharperblog.com/dating-img/1.jpeg);

  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-size: cover;
}