<br>
<form action="" method="POST">
    <input type="text" name="username" placeholder="username"><br/>
    <input type="password" name="pwd" id="pwd" placeholder="password"><br>
    <button type="submit">LOG IN</button>
</form>