<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<body>
        <form form action="" method="POST">
            <div class="form-group">
                <br />
                <input type="text" name="username" class="form-control" style="width: 200px;margin: auto;" placeholder="username">
            </div>
            <div class="form-group">
                <input type="password" name="pwd" id="pwd" class="form-control" style="width: 200px;margin: auto;" placeholder="password">
            </div>
            <center>
                 <button type="submit" class="btn btn-default">Submit</button>
                 <br />don't have an account? <a href="/register"> Register</a>
           </center>
        </form>
</body>
</html>

<!-- <br>
<form action="" method="POST">
    <input type="text" name="username" placeholder="username"><br/>
    <input type="password" name="pwd" id="pwd" placeholder="password"><br>
    <button type="submit">LOG IN</button>
</form> -->