<br>
<div>       
        <a href=""></a>
</div>
<form action="" method="POST">
    <input type="email" name="email" placeholder="Email Address" ><br/>
    <input type="text" name="username" placeholder="username" ><br/>
    <input type="text" name="firstname" placeholder="First Name" ><br/>
    <input type="text" name="lastname" placeholder="Lastname" ><br/>
    <input type="password" name="pwd" id="pwd" placeholder="password" ><br>
    <input type="password" name="pwd1" id="pwd1" placeholder="Confirm password" ><br>
    <button type="submit">Register</button>
</form>
<!-- <script>alert('heelllll')</script> -->