<br>
<form action="" method="POST">
    <input type="password" name="password" placeholder="password"><br/>
    <input type="password" name="confirmPass" id="pwd" placeholder="confirm password"><br>
    <button type="submit">submit</button>
</form>